<!-- #create new concern form  -->

<h1>Concern in <%= @concern.file_name%> File</h1><br>
<p>Located within method: <%= @concern.name_of_method %></p>
<p>Note/Summary of Concern: <%= @concern.note %></p>
<p>Type of Concern: <%= @concern.category %></p>
<a href="/projects">Go Back </a>
